@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --gray: #2c2c2c;
  --white: #fff;
  --white2: #f5f5f5;
  --black1: #222;
  --black2: #999;
}
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--gray);
  border-left: 10px solid var(--gray);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--white);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--gray);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.cardBox .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--gray);
}

.cardBox .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox .card .iconBx {
  font-size: 50px;
  color: var(--black2);
}

.cardBox .card:hover {
  background: var(--gray);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: var(--white);
}

.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-gap: 30px;
}
.details .recentOrders {
  position: relative;
  display: grid;

  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.details .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h2 {
  font-weight: 600;
  color: var(--gray);
}
.cardHeader .btn {
  position: relative;
  padding: 5px 10px;
  background: var(--gray);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}
.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;

  text-transform: capitalize;
}
.details table thead td {
  font-weight: 600;
  background-color: var(--black1);
  color: white;
}
.details .recentOrders table tbody tr {
  color: var(--black1);
}

.details .recentOrders table tr:last-child {
  border-bottom: none;
}

.details .recentOrders table tr td {
  padding: 10px;
}
.details .recentOrders table tr td:last-child {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(2) {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(3) {
  text-align: start;
}
.details .recentOrders table tr td:nth-child(4) {
  text-align: end;
}
.details .recentOrders table thead tr td:nth-child(4) {
  padding-right: 30px;
}
.details .recentOrders table tbody tr td:nth-child(5) {
  text-align: center;
}

.home-brand {
  margin-top: 10px;
}
.brand-title {
  margin-top: 23px;
  margin-left: 9px;
  font-size: 18px;
  color: var(--white2);
}
.container-box {
  margin: 20px 50px;
  grid-gap: 30px;
  position: relative;
  display: grid;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.container-box .h2 {
  text-align: center;
}
.products-table {
  width: 100%;
  border-collapse: collapse;
}
.products-table thead {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
}

.products-table thead tr th {
  text-transform: uppercase;
  padding: 10px 10px;
  font-size: 15px;
  font-weight: 600;
  text-align: start;
}
.products-table {
  width: 100%;
}
.products-table tbody tr td {
  padding: 0px 5px;
}
.products-table tbody tr td:first-child {
  width: 50px;
  text-align: center;
  font-weight: 700;
}
.products-table tbody tr td:nth-child(2),
.products-table thead tr th:nth-child(2) {
  width: 150px;
  text-align: center;
}
.products-table tbody tr td:nth-child(3),
.products-table thead tr th:nth-child(3) {
  padding: 0px 30px;
}
.products-table tbody tr td:nth-child(4) {
  width: 120px;
}
.products-table tbody tr td:nth-child(5),
.products-table thead tr th:nth-child(5) {
  width: 200px;
  text-align: center;
}
.products-table tbody tr td:nth-child(6),
.products-table thead tr th:nth-child(6) {
  width: 150px;
  text-align: center;
}
.products-table tbody tr td:nth-child(7) {
  width: 150px;
  text-align: center;
}
.products-table tbody tr td:nth-child(8) {
  width: 250px;
  padding: 0px 25px;
}
.products-table thead tr th:nth-child(8),
.products-table thead tr th:nth-child(7) {
  text-align: center;
}
.products-edit {
  display: flex;
  justify-content: space-between;
  padding: 30px 10px;
}
.bin-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(49, 49, 49);
  cursor: pointer;
  border: var(--black1);
  transition-duration: 0.3s;
  position: relative;
  overflow: hidden;
}
.bin-bottom {
  width: 10px;
  z-index: 2;
}
.bin-top {
  width: 10px;
  transform-origin: right;
  transition-duration: 0.3s;
  z-index: 2;
}
.bin-button:hover .bin-top {
  transform: rotate(45deg);
}
.bin-button:hover {
  background-color: rgb(255, 0, 0);
}
.bin-button:active {
  transform: scale(0.9);
}
.garbage {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
}
.bin-button:hover .garbage {
  animation: throw 0.4s linear;
}
.edit-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(49, 49, 49);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: relative;
  text-decoration: none !important;
}

.edit-svgIcon {
  width: 17px;
  transition-duration: 0.3s;
}

.edit-svgIcon path {
  fill: white;
}

.edit-button:hover {
  width: 120px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.edit-button:hover .edit-svgIcon {
  width: 20px;
  transition-duration: 0.3s;
  transform: translateY(60%);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.edit-button::before {
  display: none;
  content: "Edit";
  color: white;
  transition-duration: 0.3s;
  font-size: 2px;
}

.edit-button:hover::before {
  display: block;
  padding-right: 10px;
  font-size: 13px;
  opacity: 1;
  transform: translateY(0px);
  transition-duration: 0.3s;
}
.addbtn {
  width: 140px;
  height: auto;
  float: left;
  transition: 0.5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 7px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid var(--black1);
  border-radius: 3px;
}

.addbtn:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.addbtn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.addbtn:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.addbtn:hover:before {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
}

.addbtn:hover:after {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.5s;
}
.addbtn ion-icon {
  font-size: 30px;
}

.addbutton {
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

.addmenu {
  display: flex;
  justify-content: space-between;
}
.brandings {
  width: 100%;
  text-align: center;
}
.brandings img {
  width: 70px;
}
.brandings .img2 {
  margin-left: -15px;
}
.productmenu {
  display: flex;
}
.addproductsdiv {
  margin: 30px;
}
.addproductsdiv ion-icon {
  font-size: 30px;
  padding-top: 20px;
}
.addproductsdiv input[type="text"],
.addproductsdiv input[type="number"],
.addproductsdiv select {
  width: 100%;
  border: 1px solid var(--black1);
  margin: 10px 0px;
  font-size: 15px;
  padding: 10px;
  border-radius: 6px;
}
.addproductsdiv input[type="file"] {
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
  margin-top: 10px;
}
.addsubmitbtn {
  text-align: center;
  background-color: var(--black1);
  border: 1px solid var(--black1);
  color: white;
  border-radius: 6px;
  width: 50%;
  padding: 10px;
  font-size: 15px;
  margin-top: 50px;
  font-weight: 500;
}
.addproductsdiv label {
  text-transform: uppercase;
  font-weight: 500;
}
.adproduct-submit {
  display: flex;
  justify-content: space-around;
}
.title-box {
  background-color: var(--gray);
  color: var(--white);
  text-align: center;
}
.order-table {
  border-collapse: collapse;
}
.order-table tr td:first-child,
.order-table tr th:first-child {
  text-align: center;
  font-weight: 700;
}
.order-table tr td:last-child,
.order-table tr th:last-child {
  text-align: center;
}
.order-table th {
  background-color: var(--gray);
  color: var(--white2);
  padding: 10px;
  text-align: start;
  border: 1px solid var(--gray);
}
.order-table td {
  padding: 10px;
  border: 1px solid var(--black2);
}
.order-table td a {
  text-decoration: none;
  color: var(--gray);
}
.order-table td a:hover {
  color: var(--black2);
}
.employee-title {
  justify-content: space-between;
  display: flex;
}
.employee-title h1 {
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 5px;
}
.employee-info {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  margin-left: 10px;
}
.empolyee-add-email {
  display: flex;
  justify-content: space-between;

  padding: 10px;
}
.employee-add-img img {
  width: 100%;
}
.empolyee-add-email .col1 input {
  padding: 9px;
  width: 700px;
  margin: 0px;
  border-radius: 6px;
  border: 1px solid var(--black1);
  margin-top: 10px;
  margin-bottom: 30px;
}
.empolyee-add-email .col2 img {
  margin-right: 250px;
}
.employee-info input {
  width: 96%;
  padding: 9px;
  border-radius: 6px;
  border: 1px solid var(--black1);
  margin-top: 10px;
  margin-bottom: 30px;
}
.employee-info label,
.empolyee-add-email .col1 label,
.employee-add-img label {
  font-weight: 500;
}
.employee-add-img {
  margin: 30px 0px 50px 10px;
}
.employee-add-img input[type="file"] {
  margin-top: 20px;
  margin-bottom: 20px;
}
.employee-add-img input[type="date"] {
  margin-top: 20px;
  border: 1px solid red;
  padding: 9px;
  border-radius: 6px;
  border: 1px solid var(--black1);
  width: 50%;
}
.employee-add-button {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
.employee-add-button button {
  background-color: white;
  border: 1px solid var(--black1);
  border-radius: 6px;
  padding: 10px 100px;
  font-weight: 500;
}
.employee-add-button button:hover {
  background-color: var(--gray);
  color: white;
}
.employee-table {
  border-collapse: collapse;
  text-transform: capitalize;
}
.employee-table tr th {
  background-color: var(--gray);
  border: 1px solid var(--gray);
  padding: 10px 5px;
  color: white;
}
.employee-table tr td {
  border-bottom: 1px solid var(--black2);
  padding: 0px 20px;
}
.employee-table tr th:first-child {
  width: 50px;
  font-weight: 700;
}
.employee-table tr th:nth-child(2) {
  width: 200px;
  padding: 0px 20px;
  text-align: start;
}
.employee-table tr th:nth-child(3) {
  text-align: start;
  padding: 0px 20px;
}
.employee-table tr th:nth-child(4) {
  width: 100px;
}
.employee-table tr th:nth-child(5),
.employee-table tr td:nth-child(5) {
  width: 200px;
  text-align: center;
}
.employee-table tr th:nth-child(6) {
  width: 250px;
}
.accounts-table {
  border-collapse: collapse;
  text-transform: capitalize;
}
.accounts-table thead tr th {
  background-color: var(--gray);
  border: 1px solid var(--gray);
  color: white;
  padding: 9px;
}
.accounts-table tbody tr td {
  border: 1px solid var(--black2);
  padding: 9px;
}
.accounts-table thead tr th:first-child,
.accounts-table tbody tr td:first-child {
  width: 50px;
  text-align: center;
  font-weight: 500;
}
.accounts-table thead tr th:nth-child(3),
.accounts-table tbody tr td:nth-child(3) {
  text-align: start;
  padding: 0px 20px;
}
.accounts-table thead tr th:nth-child(2),
.accounts-table tbody tr td:nth-child(2) {
  width: 250px;
  text-align: start;
  padding: 0px 20px;
}
.accounts-table thead tr th:last-child,
.accounts-table tbody tr td:last-child {
  width: 200px;
  text-align: center;
}
.edit-employee-profile-img {
  border-radius: 50%;
  margin-bottom: 20px;
}
.addons-table {
  border-collapse: collapse;
  text-transform: uppercase;
}
.addons-table thead tr th {
  padding: 9px;
  background-color: var(--gray);
  color: #f2f2f2;
  border: 1px solid var(--gray);
}
.addons-table tbody tr td {
  padding: 10px 10px;
  border: 1px solid var(--black2);
}
.addons-table tbody tr td:nth-child(2),
.addons-table tbody tr td:nth-child(3),
.addons-table tbody tr td:nth-child(4),
.addons-table tbody tr td:nth-child(5) {
  text-align: center;
  width: 200px;
}
.addons-table tbody tr td:nth-child(6),
.addons-table tbody tr td:nth-child(7),
.addons-table tbody tr td:nth-child(8),
.addons-table tbody tr td:nth-child(9) {
  text-align: center;
  width: 100px;
}
.addons-table tbody tr td:last-child {
  width: 150px;
}
.addonsmodal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.addonsmodal .modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 30px 20px 20px 20px;
  border: 1px solid #888;
  width: 30%;
}

.addonsmodal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -20px;
}

.addonsmodal .close:hover,
.addonsmodal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.editmodal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.editmodal .modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 30px 20px 20px 20px;
  border: 1px solid #888;
  width: 30%;
}

.editmodal .close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -20px;
}

.editmodal .close2:hover,
.editmodal .close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.addons-flex {
  display: flex;
}
.addons-flex .col1,
.addons-flex .col2 {
  width: 50%;
}
.addons-flex h1 {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.addons-flex .col1 input,
.addons-flex select {
  width: 90%;
  border: 1px solid var(--black1);
  border-radius: 6px;
  padding: 10px;
  font-size: 12px;

  margin: 15px 20px;
}

.addons-flex .col2 input {
  width: 91%;
  border: 1px solid var(--black1);
  border-radius: 6px;
  padding: 10px;
  font-size: 12px;

  margin: 15px 20px;
}
.addonsmodal select {
  width: 93%;
  border: 1px solid var(--black1);
  border-radius: 6px;
  padding: 10px;
  font-size: 12px;
  margin: 15px 20px;
}
.edit-modal input,
.edit-modal select {
  width: 47%;
  border: 1px solid var(--black1);
  border-radius: 6px;
  padding: 10px;
  font-size: 12px;
  margin: 0px 0px 30px 0px;
}
.edit-modal .submit {
  text-align: center;
  background-color: var(--black1);
  color: white;
  border-radius: 5px;
  padding: 10px 50px;
  width: 100%;
  border: 1px solid var(--black1);
}
.edit-modal .delete {
  text-align: center;
  background-color: var(--white);
  color: rgb(133, 6, 6);
  border-radius: 5px;
  padding: 10px 50px;
  width: 100%;
  border: 1px solid rgb(133, 6, 6);
  margin-top: 20px;
}
.edit-modal .delete:hover {
  background-color: rgb(133, 6, 6);
  color: white;
}
.addonsmodal .submit {
  text-align: center;
  background-color: var(--black1);
  color: white;
  border-radius: 5px;
  padding: 10px 50px;
  width: 93%;
  margin: 30px 20px;
  border: 1px solid var(--black1);
}
.addons-edit-div {
  padding: 50px 0px 100px 0px;
}
.editbuttonaddons {
  padding: 20px;
}
.editbuttonaddons .status-div {
  display: flex;
  justify-content: space-between;
}
.circle-flex {
  display: flex;
  justify-content: space-around;
}
.red-circle {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}
.green-circle {
  width: 10px;
  height: 10px;
  background-color: rgb(1, 100, 1);
  border-radius: 50%;
}
.table-attendance {
  border-collapse: collapse;
  text-transform: capitalize;
}
.table-attendance tr th {
  padding: 7px 5px;
  background-color: var(--gray);
  border: 1px solid var(--gray);
  color: white;
}
.table-attendance tr td {
  padding: 10px 5px;
  border: 1px solid var(--black2);
}
.table-attendance tr td:first-child {
  width: 50px;
}
.table-attendance tr td:nth-child(2) {
  width: 150px;
}
.table-attendance tr td:nth-child(4),
.table-attendance tr td:nth-child(5),
.table-attendance tr td:nth-child(6),
.table-attendance tr td:nth-child(7),
.table-attendance tr td:nth-child(8) {
  width: 150px;
  text-align: center;
}
.order-flex1 {
  display: flex;
  margin-top: -10px;
  justify-content: space-between;
  color: var(--brown);
  text-transform: uppercase;
}
.order-flex1 .box1 {
  display: flex;
}
.view-title {
  font-weight: 700;
  font-size: 20px;
  color: var(--brown);
}
.order-flex1 .box1 .text {
  width: 200px;
}
.order-flex1 .box1 h5 {
  font-weight: 600;
  margin-bottom: 10px;
}
.order-flex1 .box2 {
  display: flex;
}
.order-flex1 .date h5 {
  text-align: end;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.container-box hr {
  margin-top: -25px;
  height: 1px;
}
.bottomdiv {
  margin-top: -40px;
  text-transform: uppercase;
}
.bottomdiv h4 {
  font-size: 15px;
  margin-bottom: 10px;
}
.bottomdiv h3 {
  font-size: 12px;
  margin-bottom: 20px;
  font-weight: 500;
}

.details-div {
  width: 100%;
  margin-top: -45px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.details-div .flex1 table td {
  padding: 30px 0px;
}
.details-div .flex1 table th:first-child,
.details-div .flex1 table th:nth-child(4) {
  text-align: start;
}
.details-div .flex1 table tr td:first-child {
  width: 300px;
  font-size: 12px;
  font-weight: 700;
}
.details-div .flex1 table tr td:nth-child(2) {
  width: 250px;
  text-align: center;
  font-size: 12px;
}
.details-div .flex1 table tr td:nth-child(3) {
  width: 250px;
  text-align: center;
  font-size: 12px;
}
.details-div .flex1 table tr td:nth-child(4) {
  font-size: 12px;
}
.details-div .flex1 table tr td:last-child {
  width: auto;
}
.details-div .flex1 {
  width: 65%;
}
.details-div .flex2 {
  width: 35%;
  margin-left: 100px;
  display: flex;
}
.details-div .flex2 .note {
  width: 50%;
}
.details-div .flex2 .note p {
  font-size: 12px;
  margin-top: 30px;
}
.details-div .flex2 .total {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  justify-content: space-between;
}
.details-div .flex2 .total h3 {
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 20px;
}
.details-div .flex2 .total h4 {
  font-size: 15px;
}
.customers-table {
  border-collapse: collapse;
}
.customers-table thead tr th {
  background-color: var(--black1);
  color: white;
  padding: 10px;
}
.customers-table tbody tr td {
  border: 1px solid var(--black2);
  padding: 5px 10px;
}
.customers-table tbody tr td:last-child {
  text-align: center;
  width: 150px;
}
.customers-table tbody tr td:first-child {
  width: 50px;
  font-weight: 700;
}
.customers-table tbody tr td:nth-child(2) {
  text-transform: capitalize;
}
.customers-table tbody tr td:nth-child(3),
.customers-table tbody tr td:nth-child(4) {
  width: 250px;
}

.customers-table tbody tr td:nth-child(5) {
  text-align: center;
  width: 200px;
}
.flex {
  display: flex;
  justify-content: space-around;
}
.table-search-input {
  width: 30%;
  padding: 10px;
  font-size: 15px;
  border-radius: 6px;
  border: 1px solid var(--black1);
}
.salesgraph {
  margin: -30px 10px 0px 10px;
  grid-gap: 30px;
  position: relative;
  display: grid;
  padding: 20px;
}
.sale-search {
  margin-top: -10px;
  border-collapse: collapse;
  text-transform: capitalize;
}
.sale-search tr th {
  border: 1px solid var(--black1);
  padding: 7px;
  background-color: var(--black1);
  color: var(--white2);
}
.sale-search tr td {
  border: 1px solid var(--black2);
  padding: 7px;
}
.sale-search tr td:first-child,
.sale-search tr th:first-child {
  width: 50px;
  text-align: center;
  font-weight: 600;
}
.sale-search tr td:last-child,
.sale-search tr th:last-child {
  width: 150px;
  text-align: center;
  font-weight: 500;
}
.sale-search tr td:nth-child(2),
.sale-search tr th:nth-child(2) {
  width: 100px;
  text-align: start;
  font-weight: 500;
}
.sale-search tr td:nth-child(3),
.sale-search tr th:nth-child(3) {
  text-align: start;
  font-weight: 500;
}
.sale-search tr td:nth-child(4),
.sale-search tr th:nth-child(4) {
  text-align: center;
  font-weight: 500;
  width: 200px;
}
.sales-flex {
  display: flex;
  justify-content: space-between;
}
.sales-input {
  width: 50%;
}
.sales-input input {
  width: 50%;
  padding: 7px;
  font-size: 15px;
  border: 1px solid var(--black1);
  border-radius: 6px;
  margin-top: 25px;
}
.sales-flex .col1 select {
  width: 150px;
  margin: 5px;
  border: 1px solid var(--black1);
  border-radius: 3px;
  background-color: var(--white);
  font-size: 15px;
  height: 30px;
}
.sales-flex .col2 {
  display: flex;
  justify-content: space-around;
}
.sales-flex .col2 button {
  border: 1px solid var(--black1);
  border-radius: 3px;
  background-color: var(--white);
  font-size: 13px;
  padding: 4px;
  width: 40%;
  margin-top: 10px;
}
.sales-flex .form {
  width: 34%;
}
.sale-search-table {
  margin-top: -10px;
}
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}
@keyframes throw {
  from {
    transform: translate(-400%, -700%);
    opacity: 0;
  }
  to {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}
