@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/alarm-clock");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brown: #2c2722;
  --white: #ffffffd0;
  --white2: #ffffff;
  --gray: #f5f5f5;
  --black1: #222;
  --black2: #999;
  --gray2: #1b1815;
}
h1 {
  color: var(--brown);
}
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--brown);
  border-left: 10px solid var(--brown);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.navigation ul li:hover,
.navigation ul li.hovered {
  background-color: var(--gray);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: var(--white2);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--brown);
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 75px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--gray);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--gray);
  pointer-events: none;
}
.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;
}
.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.cardBox .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  text-decoration: none;
}

.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5rem;
  color: var(--brown);
}

.cardBox .card .cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.cardBox .card .iconBx {
  font-size: 50px;
  color: var(--black2);
}

.cardBox .card:hover {
  background: var(--brown);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx {
  color: var(--white);
}

.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-gap: 30px;
}
.details .recentOrders {
  position: relative;
  display: grid;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.container-box {
  margin: 20px 50px;
  grid-gap: 30px;
  position: relative;
  display: grid;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}
.details .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h2 {
  font-weight: 600;
  color: var(--brown);
}
.cardHeader .btn {
  position: relative;
  padding: 5px 10px;
  background: var(--brown);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}
.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details table thead td {
  font-weight: 600;
  background-color: var(--brown);
  color: var(--white);
}
.details table tbody td a {
  color: var(--brown);
  text-decoration: none;
  text-align: center;
}
.details .recentOrders table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-transform: capitalize;
}
.details .recentOrders table tr:last-child {
  border-bottom: none;
}
.details .recentOrders table tbody tr:hover,
.details .recentOrders table tbody tr:hover a {
  background: rgb(92, 92, 92);
  color: var(--white);
}
.details .recentOrders table tr td {
  padding: 10px;
}
.details .recentOrders table tr td:last-child {
  text-align: center;
  text-transform: uppercase;
  width: 300px;
}
.details .recentOrders table tr td:nth-child(2) {
  text-align: end;
}
.details .recentOrders table tr td:nth-child(3) {
  text-align: center;
}
.attendance {
  background-color: var(--gray);
  background-image: url(../../assets/Images/bean3.png);
  position: relative;
}
.attendance-nav {
  border-bottom: 1px solid rgb(182, 181, 181);
  background-color: #fff;
}
.attendance-inner {
  margin: 0px 40px 0px 30px;
  display: flex;
  justify-content: space-between;
}
.attendance-inner a {
  color: var(--gray2);
}
.navbrand {
  height: 90px;
}
.avatar-icon {
  font-size: 35px;
  height: 90px;
}
.attendance-container {
  backdrop-filter: blur(8px);
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  z-index: inherit;
  left: 50%;
  padding: 90px;
  border-radius: 30px;
  box-shadow: 8px 6px 67px -14px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 8px 6px 67px -14px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 8px 6px 67px -14px rgba(0, 0, 0, 0.64);
}
.attendance-name h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  color: var(--gray2);
}
.attendance-image {
  text-align: center;
}
.attendance-image img {
  width: 300px;
  border-radius: 50%;
}
.attendance-button-holder {
  display: flex;
  flex-direction: column;
}
.attendance-button-holder button {
  margin-top: 20px;
  font-size: 20px;
}
.timein {
  background-color: #3d362f;
  color: #fff;
}
.timeout {
  border: 1px solid var(--white);
  color: white;
}

.time-div .time {
  margin-top: 20px;
  font-weight: 700;
  font-size: 25px;
}
.time-div .date {
  margin-top: -20px;
  font-size: 15px;
}
.time-div {
  margin-right: 30px;
  color: var(--gray2);
}
.panel-time {
  margin-right: 50px;
  text-align: center;
}
.panel-time .time {
  font-size: 15px;
  font-weight: 500;
}
.panel-time .date {
  font-size: 15px;
  margin-top: 7px;
  margin-right: 5px;
}
.back ion-icon {
  font-size: 45px;
  font-weight: 700;
}
.attendance-table h1 {
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
}
.profile-info {
  margin-top: 20px;
}
.back {
  position: absolute;
  margin-top: -30px;
}
.profile-main-div {
  background-image: url(../../assets/Images/white.png);
  background-size: cover;
  margin-top: 50px;
  border-radius: 20px;
  height: 790px;
  padding: 50px;
  box-shadow: 8px 6px 67px -14px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 8px 6px 67px -14px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 8px 6px 67px -14px rgba(0, 0, 0, 0.64);
}
.profile-img {
  border-radius: 50%;
}
.profile-inner-div {
  overflow-y: auto;
  height: 100%;
}

.edit-profile-btn {
  border: 1px solid #3d362f;
  color: #3d362f;
  margin-top: 40px;
}
.edit-profile-btn ion-icon {
  font-size: 18px;
  margin-left: 10px;
  margin-bottom: -2px;
}
.home-brand {
  margin-top: 10px;
}
.brand-title {
  margin-top: 23px;
  margin-left: 9px;
  font-size: 18px;
  color: var(--white2);
}
.signoutdiv {
  text-align: center;
  padding: 60px;
}
.signoutdiv h1 {
  margin: 40px;
  text-transform: uppercase;
}
.signoutdiv img {
  border-radius: 50%;
}
.signoutdiv h4 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 800;
}
.signoutdiv h5 {
  margin-top: 10px;
  font-size: 35px;
  font-weight: 400;
}
.signoutdiv h6 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
}

.signoutdiv button {
  border: 1px solid #222;
  background-color: #fff;
  padding: 7px 20px;
  font-size: 15px;
  border-radius: 5px;
  transition: 0.2s ease;
  margin: 50px;
}
.signoutdiv button:hover {
  background-color: var(--brown);
  color: white;
  border: 1px solid white;
  transform: scale(1.2);
}
.heading-div {
  background-color: var(--brown);
  text-align: center;
  display: flex;
}
.heading-div .button {
  display: block;
  position: relative;
  width: 70px;
  height: 56px;
  margin: 0;

  overflow: hidden;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  border: 0;
}

.heading-div .button:before,
.heading-div .button:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 35px;
  inset: 7px;
}

.heading-div .button:before {
  border: 4px solid #f0eeef;
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.heading-div .button:after {
  border: 4px solid #96daf0;
  transform: scale(1.3);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 0;
}

.heading-div .button:hover:before,
.heading-div .button:focus:before {
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.heading-div .button:hover:after,
.heading-div .button:focus:after {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
    transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.heading-div .button-box {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
}

.heading-div .button-elem {
  display: block;
  width: 20px;
  height: 20px;
  margin: 17px 18px 0 18px;
  transform: rotate(180deg);
  fill: #f0eeef;
}

.heading-div .button:hover .button-box,
.heading-div .button:focus .button-box {
  transition: 0.4s;
  transform: translateX(-56px);
}
.heading-div h1 {
  color: var(--white2);
  font-size: 40px;
}
.history-table {
  border-collapse: collapse;
}
.titlediv {
  text-align: center;
  width: 100%;
  margin-right: 70px;
}
.history-table thead th {
  font-weight: 700;
  padding: 10px 5px;
  border: 1px solid var(--brown);
  background-color: #2c2722;
  color: var(--white2);
}
.history-table thead th:nth-child(2),
.history-table thead th:nth-child(3) {
  text-align: start;
}
.history-table tbody td {
  border: 1px solid var(--black2);
  padding: 10px;
  font-size: 15px;
}

.history-table td:first-child {
  text-align: center;
  width: 20px;
  font-weight: 700;
}
.history-table td:nth-child(2) {
  width: 200px;
  font-weight: 500;
}
.history-table td:nth-child(4) {
  width: 150px;
  text-align: center;
  font-weight: 500;
}
.history-table td:nth-child(5) {
  width: 200px;
  text-align: center;
  text-transform: uppercase;
}
.history-table td:nth-child(6) {
  width: 200px;
  text-align: center;
  text-transform: uppercase;
}
.history-table td:nth-child(7) {
  width: 200px;
  text-align: center;
  text-transform: uppercase;
}
.history-table td a {
  text-decoration: none;
  color: var(--gray2);
}
.history-table td a:hover {
  color: var(--black2);
}
.history-search {
  display: flex;
  justify-content: end;
}
.product-search {
  display: flex;
  justify-content: space-between;
}
.history-search input,
.product-search input {
  font-size: 15px;
  padding: 10px;
  width: 300px;
  border: 1px solid var(--brown);
  border-radius: 5px;
}
.product-search select {
  border: 1px solid var(--brown);
  border-radius: 6px;
  padding: 5px 10px;
}
.orders-table {
  border-collapse: collapse;
}
.orders-table tbody td {
  border: 1px solid var(--black2);
  padding: 10px;
}
.orders-table thead th {
  background-color: var(--brown);
  color: white;
  padding: 8px;
  border: 1px solid var(--brown);
}
.orders-table thead th {
  background-color: var(--brown);
  color: white;
  padding: 8px;
}
.orders-table tbody td:first-child {
  width: 20px;
  text-align: center;
  font-weight: 700;
}
.orders-table tbody td:nth-child(2) {
  width: 230px;
}
.orders-table tbody td:nth-child(4) {
  width: 130px;
  text-align: center;
}
.orders-table tbody td:nth-child(5) {
  width: 200px;
  text-align: center;
  text-transform: uppercase;
}
.orders-table tbody td:nth-child(6) {
  width: 150px;
  text-align: center;
  text-transform: uppercase;
}
.orders-table tbody td:nth-child(7) {
  width: 150px;
  text-align: center;
  text-transform: uppercase;
}
.orders-table tbody td:nth-child(8) {
  width: 100px;
  text-align: center;
  text-transform: uppercase;
}
.orders-table thead th:nth-child(2),
.orders-table thead th:nth-child(3) {
  text-align: start;
}
.orders-table a {
  text-align: center;
  text-decoration: none;
  color: var(--gray2);
  font-weight: 500;
}
.products-table {
  border-collapse: collapse;
}
.products-table tbody tr,
.products-table tbody td {
  text-align: center;
  text-transform: uppercase;
}
.products-table td:nth-child(2),
.products-table th:nth-child(2) {
  width: 150px;
  text-align: center;
  padding: 10px 0px;
}
.products-table tbody td:first-child,
.products-table thead th:first-child {
  width: 70px;
  text-align: center;
  font-weight: 700;
}

.products-table td:nth-child(3),
.products-table th:nth-child(3) {
  text-align: start;
}
.products-table td:nth-child(3) {
  border-right: 1px solid var(--black2);
}
.products-table td:nth-child(4),
.products-table th:nth-child(4) {
  width: 250px;
  padding: 0px 20px;
}

.products-table td:nth-child(5),
.products-table th:nth-child(5) {
  width: 150px;
}
.products-table td:nth-child(6),
.products-table th:nth-child(6) {
  width: 150px;
}
.products-table td:nth-child(7),
.products-table th:nth-child(7) {
  width: 190px;
}
.products-table td:nth-child(8),
.products-table th:nth-child(8) {
  width: 150px;
}
.products-table thead tr {
  background-color: var(--brown);
  color: var(--white2);
  text-transform: uppercase;
}
.products-table thead tr th {
  padding: 10px 5px;
}
.products-table tbody tr td .addons {
  display: flex;
  justify-content: space-between;
}
.products-table tbody tr td .addons p {
  font-size: 12px;
  margin-right: 20px;
}
.products-table tbody tr td .avail {
  font-size: 15px;
  border: 1px solid rgb(151, 7, 7);
  background-color: var(--white2);
  color: rgb(151, 7, 7);
  padding: 6px;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
.products-table tbody tr td .Unavail {
  font-size: 15px;
  text-transform: uppercase;
  border: 1px solid green;
  background-color: var(--white2);
  color: green;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
}
.products-table tbody tr td .Unavail:hover {
  background-color: green;
  color: var(--white);
  font-weight: 500;
}
.products-table tbody tr td .avail:hover {
  background-color: rgb(151, 7, 7);
  color: var(--white);
  font-weight: 500;
}
.order-flex1 {
  display: flex;
  margin-top: -10px;
  justify-content: space-between;
  color: var(--brown);
  text-transform: uppercase;
}
.order-flex1 .box1 {
  display: flex;
}
.view-title {
  font-weight: 700;
  font-size: 20px;
  color: var(--brown);
}
.order-flex1 .box1 .text {
  width: 200px;
}
.order-flex1 .box1 h5 {
  font-weight: 600;
  margin-bottom: 10px;
}
.order-flex1 .box2 {
  display: flex;
}
.order-flex1 .date h5 {
  text-align: end;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.container-box hr {
  margin-top: -25px;
  height: 1px;
}
.bottomdiv {
  margin-top: -40px;
  text-transform: uppercase;
}
.bottomdiv h4 {
  font-size: 15px;
  margin-bottom: 10px;
}
.bottomdiv h3 {
  font-size: 12px;
  margin-bottom: 20px;
  font-weight: 500;
}
.bottomdiv button {
  padding: 10px;
  border: 1px solid var(--brown);
  border-radius: 8px;
  font-size: 10px;
  background-color: white;
  width: 100px;
  margin-right: 20px;
  cursor: pointer;
}
.bottomdiv button:disabled {
  background-color: var(--brown);
  color: white;
  cursor: not-allowed;
}
.details-div {
  width: 100%;
  margin-top: -45px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}
.details-div .flex1 table td {
  padding: 30px 0px;
}
.details-div .flex1 table th:first-child,
.details-div .flex1 table th:nth-child(4) {
  text-align: start;
}
.details-div .flex1 table tr td:first-child {
  width: 300px;
  font-size: 12px;
  font-weight: 700;
}
.details-div .flex1 table tr td:nth-child(2) {
  width: 250px;
  text-align: center;
  font-size: 12px;
}
.details-div .flex1 table tr td:nth-child(3) {
  width: 250px;
  text-align: center;
  font-size: 12px;
}
.details-div .flex1 table tr td:nth-child(4) {
  font-size: 12px;
}
.details-div .flex1 table tr td:last-child {
  width: auto;
}
.details-div .flex1 {
  width: 65%;
}
.details-div .flex2 {
  width: 35%;
  margin-left: 100px;
  display: flex;
}
.details-div .flex2 .note {
  width: 50%;
}
.details-div .flex2 .note p {
  font-size: 12px;
  margin-top: 30px;
}
.details-div .flex2 .total {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  justify-content: space-between;
}
.details-div .flex2 .total h3 {
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 20px;
}
.details-div .flex2 .total h4 {
  font-size: 15px;
}
.message-heading {
  display: flex;
  background-color: var(--brown);
  color: var(--white);
  border-radius: 9px;
}
.message-heading h2 {
  font-size: 15px;
  color: var(--white2);
  padding: 8px;
  margin-right: 20px;
}
.message-heading h1 {
  font-size: 15px;
  color: var(--white2);
  padding: 8px;
}
.messages-table {
  text-transform: uppercase;
  width: 100%;
  border-collapse: collapse;
}
.messages-table tbody tr td {
  padding: 20px 5px;
  border-bottom: 1px solid var(--black2);
}
.messages-table tbody tr td:first-child {
  width: 50px;
  text-align: center;
}
.messages-table tbody tr td:first-child h1 {
  font-weight: 700;
  font-size: 12px;
  margin-top: -12px;
}
.messages-table tbody tr td:nth-child(2) {
  width: 200px;
}
.messages-table tbody tr td .msg {
  display: flex;
  justify-content: space-between;
}
.messages-table tbody tr td:nth-child(3) p {
  font-size: 12px;
  width: 100%;
  margin-top: -18px;
}
.messages-table tbody tr td:last-child {
  text-align: center;
  width: 250px;
}
.messages-table h1 {
  font-size: 12px;
  margin-bottom: 5px;
  font-weight: 500;
}

.messages-table .dot {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: var(--brown);
  margin-top: -23px;
}
.messages-table .time {
  display: flex;
}
.messages-table .time h2 {
  font-size: 10px;
  margin-right: 20px;
  font-weight: 500;
}
.messages-table a {
  font-size: 12px;
  text-decoration: none;
  text-align: center;
  border: 1px solid var(--brown);
  border-radius: 6px;
  padding: 10px 50px;
  color: var(--brown);
}
.message-left,
.message-right {
  text-transform: uppercase;
}
.message-left h6,
.message-right h6 {
  text-align: center;
  margin-bottom: 20px;
}
.message-left .msgbox {
  display: flex;
  justify-content: end;
}
.message-right .msgbox {
  justify-content: end;
  display: flex;
  text-align: end;
}
.message-left .msgbox img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.message-left .msgbox h5,
.message-right .msgbox h5 {
  font-size: 10px;
}
.message-left .msgbox h4,
.message-right .msgbox h4 {
  font-size: 14px;
}
.message-left .msgbox h3,
.message-right .msgbox h3 {
  font-size: 11px;
  font-weight: 500;
}
.message-left .msgbox .msg p {
  margin-left: 20px;
  padding: 10px;
  border-radius: 10px;
  font-size: 12px;
  border: 1px solid var(--black1);
  font-weight: 500;
}
.message-left .msgbox .msg,
.message-right .msgbox .msg {
  width: 100%;
}
.message-right .msgbox .info,
.message-left .msgbox .info {
  width: 200px;
}
.message-right .msgbox .info {
  margin-left: 50px;
}
.message-right .msgbox .msg p {
  border: 1px solid var(--black1);
  width: auto;
  margin-left: 55px;
  padding: 10px;
  border-radius: 10px;
  text-align: end;
  font-size: 12px;
  font-weight: 500;
}
.message-right .msgbox img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}
.send-msg {
  display: flex;
}
.send-msg input {
  padding: 10px;
  height: 40px;
  font-size: 12px;
  border-radius: 6px;
  border: 1px solid var(--brown);
  background-color: var(--white2);
  width: 100%;
  font-size: 12px;
}
.send-msg input::placeholder {
  font-size: 12px;
}
.send-msg button {
  padding: 10px;
  border: 0px;
  background-color: var(--white);
  cursor: pointer;
  margin-top: -7px;
}
.send-msg button ion-icon {
  font-size: 30px;
}
.msg-delete-btn {
  background-color: var(--brown);
  border: 0;
}
.msg-delete-btn ion-icon {
  font-size: 40px;
  color: var(--white);
  margin-top: 7px;
  cursor: pointer;
}

@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    width: 300px;
    left: 0;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: 1fr;
  }
  .recentOrders {
    overflow-x: auto;
  }
  .status.inProgress {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }
  .cardHeader h2 {
    font-size: 20px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 10001;
  }
  .main.active .toggle {
    color: #fff;
    position: fixed;
    right: 0;
    left: initial;
  }
}
